如何对数据进行预处理，提高数据质量，是数据分析工作中常见的问题，本篇文章我们就和大家聊聊常见的数据标准化和案例；
啥是数据标准化呢，大家都知道不同特征之间往往具有不同的量纲，比如一件内衣几百大洋，一套房子几百万，从总体衡量标准来看房子好像要贵点，
但是平均下来呢，没单位的内衣要比每单位的房子贵好多，由此所造成的数值间的差异可能很大，在涉及空间计算或梯度下降法等情况下，
不对其进行处理会影响到数据分析结果的准确性，为了消除特征之间量纲和取值范围差异可能会造成的影响，需要对数据进行标准化处理，也称作规范化处理
本篇文章我们讲三种标准化数据方式，分别是：
1.离差标准化数据
2.标准差标准化数据
3.小数定标标准化数据

### 离差标准化数据

离差标准化是对原始数据的一种线性变换，结果是将原始数据的数值映射到[0,1]区间，转换公式如下：
X1=（X-min)/（max-min）;X当前的数据；
其中max为样本数据最大值，min为样本数据最小值，max-min为极差
离差标准化保留了原始数据值之间的联系，是消除量纲和数据取值范围影响最简单的方法。

### 离差标准化示例

In [6]:
import pandas as pd
import numpy as np
f = open('../detail.csv')
detail = pd.read_csv(f,index_col=0,encoding='utf-8')
detail.head()

,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
detail_id,,,,,,,,,,,,,,,,,,
2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016/8/111:05:00,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442
2958,417,609957,NaN,NaN,蒙古烤羊腿,0,1,48,NaN,2016/8/111:07:00,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442
2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016/8/111:07:00,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442
2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016/8/111:11:00,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442
2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016/8/111:11:00,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442

In [8]:
#自定义离差标准化函数
def MinMaxScale(data):
    data = (data-data.min()) / (data.max() - data.min())
    return data

In [9]:
#对菜品订单表售价和销量做离差标准化
data1 = MinMaxScale(detail['counts'])
data2 = MinMaxScale(detail['amounts'])

data3 = pd.concat([data1,data2],axis=1)

In [11]:
print('离差标准化之前销量和售价数据为： \n',detail[['counts','amounts']].head())

离差标准化之前销量和售价数据为：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13

In [13]:
print('离差标准化之后销量和售价数据为：\n',data3.head())

离差标准化之后销量和售价数据为：
            counts   amounts
detail_id
2956          0.0  0.271186
2958          0.0  0.265537
2961          0.0  0.163842
2966          0.0  0.135593
2968          0.0  0.067797

### 标准差标准化数据

标准差标准化也叫零均值标准化或z分数标准化，是当前使用最广泛的数据标准化方法，经过该方法处理的数据均值为0，标准差为1，转换公式如下：
z=(x-μ)/σ
x为每一具体分数或每个数据值
μ为原始数据的平均数
σ 为原始数据的标准差
z为z分数(z-score)

### 标准差标准化示例

In [14]:
#自定义标准差标准化函数
def StandardScaler(data):
    data = (data - data.mean()) / data.std()
    
    return data

In [15]:
#对菜品订单表和销量做标准化
data4 = StandardScaler(detail['counts'])
data5 = StandardScaler(detail['amounts'])
data6 = pd.concat([data4,data5],axis=1)

In [16]:
print('标准差标准化之前销量和售价数据为：\n',detail[['counts','amounts']].head())

标准差标准化之前销量和售价数据为：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13

In [17]:
print('标准差标准化之后销量和售价的数据为：\n',data6.head())

标准差标准化之后销量和售价的数据为：
              counts   amounts
detail_id
2956      -0.177571  0.116671
2958      -0.177571  0.088751
2961      -0.177571 -0.413826
2966      -0.177571 -0.553431
2968      -0.177571 -0.888482

### 小数定标标准化数据

通过移动数据的小数位数，将数据映射到区间[-1,1]，移动的小数位数取决于数据绝对值的最大值，转换公式如下：
 x'=x/(10^j)； j为满足条件的最小整数

### 小数定标标准化示例

In [20]:
#自定义小数定标标准化函数
import numpy as np
def DecimalScaler(data):
    data = data / 10 ** np.ceil(np.log10(data.abs().max()))
    return data

In [21]:
#对菜品订单表售价和销量做标准化
data7 = DecimalScaler(detail['counts'])
data8 = DecimalScaler(detail['amounts'])
data9 = pd.concat([data7,data8],axis=1)

In [22]:
print('小数定标标准化之前的销量和售价数据: \n',detail[['counts','amounts']].head())

小数定标标准化之前的销量和售价数据:
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13

In [23]:
print('小数定标标准化之后的销量和售价数据：\n',data9.head())

小数定标标准化之后的销量和售价数据：
            counts  amounts
detail_id
2956          0.1    0.049
2958          0.1    0.048
2961          0.1    0.030
2966          0.1    0.025
2968          0.1    0.013

### 补充：归一化

原文：https://blog.csdn.net/pipisorry/article/details/52247379 

数据的标准化（normalization）是将数据按比例缩放，使之落入一个小的特定区间。在某些比较和评价的指标处理中经常会用到，去除数据的单位限制，
将其转化为无量纲的纯数值，便于不同单位或量级的指标能够进行比较和加权。

目前数据标准化方法有多种，归结起来可以分为直线型方法(如极值法、标准差法)、折线型方法(如三折线法)、曲线型方法(如半正态性分布)。不同的标准化方法，
对系统的评价结果会产生不同的影响，然而不幸的是，在数据标准化方法的选择上，还没有通用的法则可以遵循。

其中最典型的就是数据的归一化处理，即将数据统一映射到[0,1]区间上。

归一化目标：
1 把数变为（0，1）之间的小数
    主要是为了数据处理方便提出来的，把数据映射到0～1范围之内处理，更加便捷快速，应该归到数字信号处理范畴之内。
2 把有量纲表达式变为无量纲表达式
    归一化是一种简化计算的方式，即将有量纲的表达式，经过变换，化为无量纲的表达式，成为纯量。 
    比如，复数阻抗可以归一化书写：Z = R + jωL = R(1 + jωL/R) ，复数部分变成了纯数量了，没有量纲。
    另外，微波之中也就是电路分析、信号系统、电磁波传输等，有很多运算都可以如此处理，既保证了运算的便捷，又能凸现出物理量的本质含义。

归一化的好处：
    1.提升模型的收揽速度
    2.提升模型的精度